@media (min-width: 768px) {

  .ascii{
    font-size: 12rem;
    letter-spacing: 0.02rem;
    line-height: 0.9rem;
    overflow: hidden;
    margin-top: 7rem;
  }
}

@media (max-width: 768px) {

  .ascii{
    font-size: 12rem;
    letter-spacing: -0.05rem;
    line-height: 0.7rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 7rem;
  }
}