@media (max-width: 768px) {/*xs up to md screens*/
  .errorStackSize{
    height: 15vh !important;
  }

  .sadFace{
    font-size: 16rem;
  }

}

@media (min-width: 768px) {/*Md up to Large screen*/
  .errorStackSize{
    height: 49vh !important;
  }

  .sadFace{
    font-size: 15rem;
  }
}
