.pre{
  /*<pre> has it's own style, override it with the parent style*/
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  color: inherit;
}

.active{
	background-color: white;
	color: black;
}
