.borderMe{ /*Valid on any media query*/
  border-style: solid;
  border-color: green;
}

@media (max-width: 768px) {/*Extra small up to medium*/
  .vh-custom{
    min-height: 90vh !important;
  }

  /*
  	Holding this classes and animations here, will ensure that no animation,
  	or weird behavior happends screens > 768px
  */

  .positionAbsolute{
  	position: absolute !important; /*To stack the cols, same row feeling*/
    overflow-x: hidden;
  }

  .default{
    left: -70rem;/*Will be overrided by the Animations*/
  }

  .WordEdit-enter{
  	left: -70rem;
  }

  .WordEdit-enter-done{
  	left: 0;
  	transition: left 1000ms;
  }

  .WordEdit-exit{
	  left: 0;
  }

  .WordEdit-exit-done{
  	left: -70rem;
  	transition: left 1000ms;
  }

  .FilePreview-enter{
  	left: -70rem;
  }

  .FilePreview-enter-done{
  	left: 0;
  	transition: left 1000ms;
  }

  .FilePreview-exit{
	  left: 0;
  }

  .FilePreview-exit-done{
  	left: -70rem;
  	transition: left 1000ms;
  }


}

@media (min-width: 768px) {/*Md up to Large screen*/
  .vh-custom{
    min-height: 83vh !important;
  }
}
