.borderMe{ /*Valid on any media query*/
  border-style: solid;
  border-color: green;
}

@media (max-width: 768px) {/*Extra small up to medium*/
  .vh-custom{
    height: 90vh !important;
  }
}

@media (min-width: 768px) {/*Md up to Large screen*/
  .vh-custom{
    height: 83vh !important;
  }
}
