@font-face{
  font-family: 'Asai-Analogue';
  src: local('Asai-Analogue'), url(./fonts/Asai-Analogue.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Asai-Analogue, monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
