.bannerBook {
  color: white;
  font-size: 0.85rem;
  line-height: 0.95rem;
  letter-spacing: 0.05rem;
}

.bannerWord{
  display: block;
  font-size: 0.7rem;
  line-height: 0.5rem;
  letter-spacing: 0.04rem;
}

.bannerWordWhite{
  color: white;
}

.pepeSize{
  width: 10rem;
  height: 10rem;
}
